#wrapper {
    display: flex;
    justify-content: center;
}

#wrapper svg {
    border: 1px solid;
    position: relative;
}

.controls {
    position: absolute;
    top: 25%;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    user-select: none;
}