#wrapper {
    display: flex;
    justify-content: center;
}

#wrapper svg {
    border: 1px solid;
    position: relative;
}

.controls {
    position: absolute;
    top: 25%;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    user-select: none;
}

/* .f rect {
    
} */

/* TODO: use or delete */
/* rect, g {
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
} */

.f1 rect, .f1 {
    fill: red;
}

.f2 rect, .f2 {
    fill: green;
}

.f3 rect, .f3 {
    fill: orange;
}

.f4 rect, .f4 {
    fill: blue;
}